.chart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.percent {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  margin-top: 82px;
}
.chart {
  display: flex;
  width: 1170px;
  justify-content: space-between;
  align-items: center;
}

.chart-start {
  position: relative;
  width: 320px;
}

.ing {
  font-size: 160px;
  color: rgb(235, 232, 232);
  margin-left: 150px;
}
.chart-title {
  display: flex;
  align-items: center;
  font-size: 32px;
  position: absolute;
  margin-top: 220px;
  font-weight: bold;
}
.chart-image {
  width: 187px;
}
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-container-button {
  width: 79px;
  height: 29px;
  border: none;
  background-color: rgb(232, 231, 231);
}
.cart-container-p {
  font-size: 18px;
}
.test1 {
  width: 187px;
  height: 187px;
  border-radius: 50%;
  background-color: rgb(100, 203, 143);
  position: relative;
}
.test2 {
  position: absolute;
  display: flex;
  flex: none;
  width: 93px;
  height: 93px;

  background-color: rgb(193, 206, 199);
  border-top-left-radius: 100%;
}
.test3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  margin: 18px;
}
.carts {
  width: 663px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 820px) {
  .chart-container {
    width: 100%;
  }
  .carts {
    width: 720px;
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
  }
  .chart {
    width: 720px;
    flex-direction: column;
  }
  .chart-start {
    position: relative;
    width: 320px;
    margin-top: -100px;
  }
}

@media screen and (max-width: 483px) {
  .chart-start {
    width: 90%;
    position: relative;
  }
  .chart {
    width: 90%;
    flex-direction: column;
  }
  .ing {
    margin-left: 90px;
  }
  .carth-container {
    margin: 30px;
  }
  .carts {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
}
