.chart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart {
  display: flex;
  width: 1170px;
  justify-content: space-between;
  align-items: center;
}

.chart-start {
  position: relative;
  width: 320px;
}

.ing {
  font-size: 160px;
  color: rgb(235, 232, 232);
  margin-left: 150px;
}
.chart-title {
  display: flex;
  align-items: center;
  font-size: 32px;
  position: absolute;
  margin-top: 220px;
  font-weight: bold;
}
.carth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carth-container-button {
  width: 79px;
  height: 29px;
  border: none;
  background-color: rgb(232, 231, 231);
}
.carth-container-p {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .chart-start {
    width: 90%;
    position: relative;
    margin: auto;
  }
  .chart {
    width: 90%;
    flex-direction: column;
  }
  .ing {
    margin-left: 90px;
  }
  .carth-container {
    margin: 30px;
  }
}
