.comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-top: 20px;
  gap: 10px;
}
.reviews {
  display: flex;
  gap: 10px;
}
.reviewOutside {
  border: 1px orangered solid;
  border-radius: w 10px;
  height: 214px;
  padding: 10px;
  width: 240px;
}
.review {
  margin-left: 20px;
  border-radius: 10px;
  height: 190px;
  width: 180px;
}
.review-pro {
  display: flex;
  gap: 20px;
}
.review-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.review-title {
  display: flex;
  gap: 20px;
  align-items: center;
}
.review-date {
  color: gray;
}
.comments {
  position: relative;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.comm1 {
  border-top: 1px gray solid;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comm2 {
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.comm3 {
  border-bottom: 1px gray solid;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* 378px */

@media screen and (max-width: 820px) {
  .reviewOutside {
    border: 1px orangered solid;
    border-radius: 10px;
    height: 200px;
    padding: 10px;
    width: 250px;
  }
  .review {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    gap: 20px;
  }
  .reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 820px;
  }
  .comment-container {
    width: 100%;
  }
  .comment {
    width: 720px;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 20px;
    gap: 20px;
  }

  .review-pro {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
  }
  .comments {
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comm1 {
    width: 720px;
    align-items: baseline;
    text-align: center;
  }
  .comm2 {
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    width: 720px;
    align-items: baseline;
    text-align: center;
  }
  .comm3 {
    width: 720px;
    align-items: baseline;
    text-align: center;
  }
  .review-title {
  }
}

@media screen and (max-width: 483px) {
  .reviewOutside {
    border: 1px orangered solid;
    border-radius: 10px;
    height: 100px;
    padding: 10px;
    width: 320px;
  }
  .review {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    gap: 20px;
  }
  .reviews {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .comment {
    width: 378px;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 20px;
    gap: 20px;
  }

  .review-pro {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
  }
  .comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .review-title {
    margin-left: 30px;
  }
  .comm1 {
    width: 320px;
    border-top: 1px gray solid;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .comm2 {
    width: 320px;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .comm3 {
    width: 320px;
    border-bottom: 1px gray solid;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
