.chart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart {
  display: flex;
  width: 1170px;
  justify-content: space-between;
  align-items: center;
}

.chart-start {
  position: relative;
  width: 320px;
}

.ing {
  font-size: 160px;
  color: rgb(230, 230, 230);
  margin-left: 150px;
}
.chart-title {
  display: flex;
  align-items: center;
  font-size: 32px;
  position: absolute;
  margin-top: 220px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .chart {
    width: 90%;
    flex-direction: column;
  }
  .chart-container {
  }
}
